<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heitian.ssm.dao.UserDao">

    <resultMap id="UserBaseMap" type="com.heitian.ssm.model.User">
        <id column="id" property="uid" jdbcType="BIGINT"/>
        <result column="username" property="uName" jdbcType="VARCHAR"/>
        <result column="password" property="uPassword" jdbcType="VARCHAR"/>
        <result column="roleId" property="rid" jdbcType="BIGINT"/>
        <result column="sex" property="sex" jdbcType="BIGINT"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="BIGINT"/>
        <result column="isDelete" property="isDelete" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectUserByName" parameterType="java.lang.String" resultMap="UserBaseMap">
        SELECT * FROM table_user
        WHERE username = #{userName}
    </select>

    <select id="selectAllUser" parameterType="com.heitian.ssm.model.User"
            resultMap="UserBaseMap">
        SELECT * FROM table_user WHERE isDelete = 0
    </select>

    <update id="updateUser" parameterType="com.heitian.ssm.model.User">
        UPDATE table_user
        SET sex = #{0}, address = #{1}, phone = #{2}, isDelete = #{3},roleId = #{4}
        WHERE username = #{5}
    </update>

    <insert id="addUser" parameterType="com.heitian.ssm.model.User">
        INSERT INTO table_user(id,username,password,roleId,sex,address,phone)
        VALUES
        (#{uid},#{uName},#{uPassword},#{rid},#{sex},#{address},#{phone})
    </insert>


</mapper>